@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space Explorer";
  src: url("https://res.cloudinary.com/dk3msiid1/raw/upload/v1682114687/cosmic-canvas/SPACE-EXPLORER_oj6ayu.woff")
    format("woff");
}

@layer components {
  .loader {
    position: relative;
    animation: flix 3s ease-in infinite alternate;
  }
  .loader:before {
    content: "";
    display: block;
    font-size: 0;
    width: 144px;
    height: 144px;
    background-color: #fff;
    background-image: radial-gradient(
        circle 36px at 66px 66px,
        #ff3d00 100%,
        transparent 0
      ),
      radial-gradient(circle 30px at 18px 120px, #ff3d00 100%, transparent 0),
      radial-gradient(circle 42px at 93px -18px, #ff3d00 100%, transparent 0),
      radial-gradient(circle 15px at 120px 90px, #ff3d00 100%, transparent 0);
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 0%;
    transform: translate(-50%, -100%);
    left: 50%;
    width: 72px;
    height: 36px;
    background: #fff;
    border-radius: 50px 50px 0 0;
  }

  @keyframes flix {
    0%,
    60% {
      transform: rotate(-10deg);
    }
    100%,
    30%,
    80% {
      transform: rotate(5deg);
    }
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}
